:root {
    /* Primary theme colors */
    --primary-color: #ffffff;        /* Main blue */
    --secondary-color: #185abc;      /* Darker blue */
    --accent-color: #ff9800;         /* Orange for highlights/buttons */

    /* Background colors */
    --background-color: #ffffff;
    --background-containers: #002091;
    --background-light: #e6e6e6;
    --background-dark: #eeeeee;

    /* Text colors */
    --text-color: #212121;
    --text-light: #ffffff;
    --text-muted: #757575;

    /* Feedback colors */
    --success-color: #4caf50;
    --error-color: #f44336;
    --warning-color: #ffeb3b;

    --buttons-color: #467c13;      /* Darker blue */

    --card-color: #e0e0e0;
    --card-hover-color: #7c767671;

}
