body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
}

h1 {
    color: var(--text-color);
}

h3 {
    margin-left: 40px;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

button {
    background-color: var(--buttons-color);
    color: var(--text-light);
    border: none;
    cursor: pointer;
    width: 160px;
    border-radius: 20px;
    padding: 15px;
    align-items: center;
    justify-content: center;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;        /* mais altura vertical */
    background: linear-gradient(90deg, #6a11cb 0%, #2575fc 100%); /* degradê */
    box-shadow: 0 4px 15px rgba(106, 17, 203, 0.6); /* sombra mais marcada e colorida */
    border-bottom: none; /* remove a borda para ficar mais clean */
    color: white; /* garante que o texto fique branco */
}

.logo h1 {
    font-size: 36px;          /* maior tamanho */
    color: #fff;              /* branco para contraste no degradê */
    margin: 0;
    font-weight: 700;
}

.right-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.saldo-container {
    display: flex;
    align-items: center;
    gap: 6px; /* espaço entre olho, R$, e valor */
    /* background-color: var(--background-color); */
    padding: 4px 10px;
    border-radius: 12px;
    font-weight: bold;
}
.btn-olho {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #000000;
    padding: 0;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-sair {
    padding: 12px 20px;
    background-color: #ff4d4d;
    color: white;
    border-radius: 12px;
    font-weight: 700;
    transition: background-color 0.3s ease;
}

.btn-sair:hover {
    background-color: #e04343;
    color: white;
}

.container {
    padding: 20px;
    display: flex;
    
}

.infos {
    width: 50%;
    padding-left: 50px;

}

.statement {
    width: 50%;
    padding-left: 50px;
}


.cards-container {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: var(--card-color);
    color: var(--text-color);
    width: 300px;
    height: 200px;
    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.2s ease;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card h2 {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 24px;
    /* color: var(--primary-color); */
}

.card h2 i {
    font-size: 28px;
}

.card:hover {
    transform: translateY(-5px);
    background-color: var(--hover-color, var(--card-hover-color));
}