<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <title>C3 Bank</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
  <div class="container">

    <h1>C3 Bank</h1>
    
    <h3>Login</h3>
    
    <form method="POST" action="{{ url_for('login') }}">
      <div class="form-group">
        <label for="cpf">CPF:</label>
        <input type="text" name="cpf" id="cpf" required />
      </div>

      <div class="form-group">
        <div class="password-wrapper">
          <label for="password">Senha:</label>
          <input type="password" name="password" id="password" required />
          <button type="button" id="togglePassword" aria-label="Mostrar senha"></button>
        </div>
      </div>

      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <ul>
        {% for category, message in messages %}
        <li style="color: {% if category == 'danger' %}red{% elif category == 'success' %}green{% else %}black{% endif %};">
          {{ message }}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}

      <button type="submit">Entrar</button>
    </form>
  </div>

</body>
</html>
