<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Transferência</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/transfer.css') }}">
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
</head>
<body>
  <div class="header">
        <div class="logo">
            <h1>C3 Bank</h1>
        </div>
        
        <div class="right-actions">
            <div class="saldo-container">
                <button id="toggle-saldo" class="btn-olho" title="Mostrar/Esconder saldo">
                    <i id="icon-olho" class="fa-solid fa-eye"></i>
                </button>
                <span>R$</span>
                <span id="saldo-valor">{{ "%.2f"|format(account.balance) }}</span>
            </div>

            <a href="{{ url_for('home') }}">Voltar</a>
        </div>
    </div>

  <div class="container">
    <div class="subContainer">
      <h1>Transferência</h1>

      <p>Saldo atual: R$ {{ "%.2f"|format(account.balance) }}</p>

      <form method="POST">
          <div class="form-group">
            <label for="target">Conta de destino:</label>
            <input type="text" name="target" id="target" required><br>
          </div>

          <div class="form-group">
            <div class="password-wrapper">
              <label for="amount">Valor:</label>
              <input type="number" step="0.01" name="amount" id="amount" required><br>
            </div>
          </div>

          <div class="form-group">
            <div class="password-wrapper">
              <label for="amount">Confirme sua senha:</label>
              <input type="number" step="0.01" name="amount" id="amount" required><br>
            </div>
          </div>

          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul>
              {% for category, message in messages %}
                <li style="color: {% if category == 'danger' %}red{% elif category == 'success' %}green{% else %}black{% endif %};">
                  {{ message }}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

          <button type="submit">Transferir</button>
      </form>

      <a href="{{ url_for('home') }}">Voltar</a>
    </div>
  </div>

  <script>
        const saldoValor = document.getElementById('saldo-valor');
        const toggleBtn = document.getElementById('toggle-saldo');
        const iconOlho = document.getElementById('icon-olho');

        let visivel = true;
        const saldoOriginal = saldoValor.textContent;

        toggleBtn.addEventListener('click', () => {
            visivel = !visivel;
            if (visivel) {
                saldoValor.textContent = saldoOriginal;
                iconOlho.classList.remove('fa-eye-slash');
                iconOlho.classList.add('fa-eye');
            } else {
                saldoValor.textContent = '••••••';
                iconOlho.classList.remove('fa-eye');
                iconOlho.classList.add('fa-eye-slash');
            }
        });
    </script>
</body>
</html>
